<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.log">

	<!-- optional, add some variables  https://github.com/nlog/NLog/wiki/Configuration-file#variables  -->
	<variable name="logfilepath" value="${basedir}/logs"/>

	<!--  See https://github.com/nlog/nlog/wiki/Configuration-file   for information on customizing logging rules and outputs.   -->


	<targets>
		<!--   ATTENTION: note we have set the log to rotate every day to a new file, and keep only 10 days!   -->
		
		<target xsi:type="File" name="ToFile"
				fileName="myprogram_${shortdate}.log"
				layout="${longdate} | ${pad:padding=-5:inner=${uppercase:${level}}} | ${message}"
				archiveEvery="Day"
				archiveNumbering = "Rolling"
				maxArchiveFiles="10"/>

		<target xsi:type="Console" name="ToConsole"
				layout="${date:format=HH\:mm\:ss} | ${pad:padding=-5:inner=${uppercase:${level}}} | ${message}"
				encoding="UTF8" error="true" detectConsoleAvailable="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="ToFile" />
		<logger name="*" minlevel="Info"  writeTo="ToConsole" />
	</rules>
</nlog>
