@page "/"
@using Geschäftslogik
@using Taschenrechner

<PageTitle>Calculator</PageTitle>

<input id="value" style="width:300px" type="text" @bind="_value" />
<div style="height:1em" />
<table>
    <tr>
        <td><button class="btn btn-primary" @onclick="Key1"> 1 </button></td>
        <td><button class="btn btn-primary" @onclick="Key2"> 2 </button></td>
        <td><button class="btn btn-primary" @onclick="Key3"> 3 </button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" @onclick="Key4"> 4 </button></td>
        <td><button class="btn btn-primary" @onclick="Key5"> 5 </button></td>
        <td><button class="btn btn-primary" @onclick="Key6"> 6 </button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" @onclick="Key7"> 7 </button></td>
        <td><button class="btn btn-primary" @onclick="Key8"> 8 </button></td>
        <td><button class="btn btn-primary" @onclick="Key9"> 9 </button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" @onclick="Key0"> 0 </button></td>
    </tr>
    <tr>
        <td style="height:1em"></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" @onclick="KeyPlus"> + </button></td>
        <td><button class="btn btn-primary" @onclick="KeyMinus"> - </button></td>
        <td><button class="btn btn-primary" @onclick="KeyEquals"> = </button></td>
    </tr>
</table>


@code {
    private static ICalculator _calculatorEngine = new Calculator();
    private static CalculatorUI _calculatorUI = new CalculatorUI(_calculatorEngine);
    private string _value = "0";

    private void Key1     () { Key("1"); }
    private void Key2     () { Key("2"); }
    private void Key3     () { Key("3"); }
    private void Key4     () { Key("4"); }
    private void Key5     () { Key("5"); }
    private void Key6     () { Key("6"); }
    private void Key7     () { Key("7"); }
    private void Key8     () { Key("8"); }
    private void Key9     () { Key("9"); }
    private void Key0     () { Key("0"); }
    private void KeyPlus  () { Key("+"); }
    private void KeyMinus () { Key("-"); }
    private void KeyEquals() { Key("="); }

    private void Key(string key)
    {
        _value = _calculatorUI.Process_key_pressure_and_return_new_display_text(key);
        StateHasChanged();
    }
}
