<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="HomeautomationServerUrl" value="http://192.168.0.4:89" />
    <add key="HomeautomationPassword"  value="marion!2023!!auth" />
    <add key="AmazonServiceUrl"        value="https://sqs.eu-west-1.amazonaws.com" />
    <add key="AmazonQueue1Url"         value="https://sqs.eu-west-1.amazonaws.com/358331695088/AbrahamAlexaQueue" />
    <add key="AmazonQueue2Url"         value="https://sqs.eu-west-1.amazonaws.com/358331695088/AbrahamAlexaQueueToLambda" />
    <add key="PushIntervalInMinutes"   value="60"/>
    <add key="LogToConsole"            value="true"/>
    <add key="LogToFile"               value="true"/>
    <add key="LogfileName"             value="AlexaCommunicationApp.log"/>
    <add key="AWSRegion"               value="eu-west-1" />
    <add key="AWSProfilesLocation"     value=".\AWSCredentials.dat" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
